@import '../utils/variables';

.authContainer {
  padding-top: 160px;
  .authForm {
    display: table;
    width: 70%;
    margin: 0 auto;
    background: $darkT !important;
    margin-bottom: 20px;
    padding-top: 1%;
  }
  .authCard {
    width: 70%;
    margin: 0 auto;
    text-align: center;
    * {
      background: $dark !important;
      color: $light !important;
    }
  }
  p, h1 {
    color: $light;
    text-align: center;
    a {
      color: $blue;
      &:hover {
        color: dodgerblue;
      }
    }
  }

  h1 {
    text-align: center;
    font-size: 2em;
    color: $blue;
    text-decoration: underline;
    span {
      display: block;
      color: $light;
    }
  }
}

@media screen and (max-width: 850px) {
  .authContainer {
    padding-top: 190px !important;
  }
  .authForm {
    width: 90% !important;
  }
  .authCard {
    width: 90% !important;
  }
}

.aboutGrid {
  .col-xs-6 {
    padding-bottom: 10px;
  }
  .col-xs-12 {
    padding-bottom: 10px;
  }

  .item {
    height: 200px;
    width: 100%;
    * {
      color: $light;
    }
  }
  .content {
    background: $darkExtraT;
    height: 100%;
    width: 100%;
    line-height: 200px;
    text-align: center;
    overflow: scroll;
    p {
      display: inline-block;
      vertical-align: middle;
      line-height: normal;
    }
  }

  .psychic {
    background: url("/images/psychic.JPG") no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .cards {
    background: url("/images/cards.JPG") no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .community {
    background: url("/images/community.jpg") no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}
