@import '../utils/variables';

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background: $wildblueT;
  margin: 0;
  * {
    font-family: 'Raleway', sans-serif !important;
  }
  background: url("/images/background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.navBar {
  background: $darkT !important;
  position: fixed !important;
  top: 0 !important;
  overflowY: hidden !important;
  .navLogo {
    height: 60px;
    width: 100px;
    vertical-align: middle;
  }
  span {
    div {
      background: $light !important;
    }
  }
}

.navTabs {
  height: 65px;
  background: $blue !important;
  color: $light !important;
  &:hover {
    color: $dark !important;
  }
  * {
    margin-right: 12px !important;
    padding-left: 12px !important;
  }
}

.sideNav {
  background: $darkT !important;
  .sideNavItem {
    border-bottom: 2px solid $dark !important;
    background: $blue !important;
    color: $light !important;
    &:hover {
      background: $dark !important;
      color: $blue !important;
    }
    span {
      div {
        background: $light !important;
      }
    }
  }

  .iconText {
    display: inline;
  }
}
